<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/admin.css">
  <script src="//code.jquery.com/jquery-3.7.1.js"> </script>
  <script src="//cdn.datatables.net/2.3.7/js/dataTables.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
  <title>Admin</title>
</head>

<body>
  <%- include('partials/navbar',{user: user}) %>

  <!-- Card Table -->
  <h2>Cards</h2>
  <table id="order-table" class="display">
    <thead>
      <th>Title</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Stats</th>
      <th>Price</th>
      <th>History</th>
    </thead>
    <tbody>
      <% for(sub of submissions){ %>
      <tr>
        <td>Title: <%=sub.name%></td>
        <td>Category: <%=sub.category%></td>
        <td>Rating <%=sub.rate%></td>
        <td><%=sub.stat  %></td>
        <td>Price: <%=sub.price%></td>
        <td>History: <%=sub.price%></td>

      </tr>
      <%}%>
    </tbody>
    </table>


  <!-- Users Table -->
  <!-- Displays all registered users from the database and 
  each user row has Edit/Delete buttons -->
  <section>
    <h2>Users</h2>
    <table id="users-table" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (let user of users) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.fname %></td>
            <td><%= user.lname %></td>
            <td><%= user.email %></td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>
  <%- include('partials/footer') %>
</body>
  <script defer>
    let table = new DataTable('#order-table')
    let table2 = new DataTable('#users-table');
  </script>
</html>